.chat-list, .chat-list--actions, .chat-list--actions .input-container, .chat-list--actions .dropdown-options {
  width: 100%;
}

.sidebar-row {
  height: 100%;
  border-bottom: solid 1px #f7f8f9;
}

.chat-list {
  height: 485px;
  overflow-x: hidden;
  overflow-y: auto;
}
.chat-list .avatar {
  float: left;
  margin-top: 3px;
}
@media only screen and (max-width: 640px) {
  .chat-list .avatar {
    margin-top: -3px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.chat-list .avatar img {
  height: 34px;
  width: 34px;
}
.chat-list .chat-description {
  margin-left: 50px;
}
.chat-list .chat-description p {
  display: inline;
}
@media only screen and (max-width: 640px) {
  .chat-list .chat-description p {
    margin-right: 10px;
    display: block;
    margin-bottom: 0;
  }
}
.chat-list .chat-description .badge {
  float: right;
}
.chat-list .chat-description small {
  font-size: 60%;
  float: right;
}
@media only screen and (max-width: 640px) {
  .chat-list .chat-description small {
    display: initial;
  }
}
.chat-list li {
  padding: 6px;
  border: solid 1px transparent;
}
@media only screen and (max-width: 640px) {
  .chat-list li {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.chat-list li:hover {
  border-color: rgba(244, 146, 0, 0.5);
}
.chat-list li:hover .badge {
  color: #333;
}
.chat-list ul {
  border-left: solid 1px #f7f8f9;
}

.chat-list--actions .input-container {
  padding: 10px;
  background-color: #f7f8f9;
}
.chat-list--actions .input-container .search-input {
  border: none;
  border-radius: 4px;
  background-color: #fff;
}
.chat-list--actions .dropdown-options {
  display: inline-flex;
  background-color: #f7f8f9;
}
.chat-list--actions .dropdown-options .dropdown-toggle {
  margin-top: 5px;
  padding-left: 0;
}
.chat-list--actions .dropdown-options .dropdown-menu {
  border-radius: 0;
  background-color: #f7f8f9;
}
.chat-list--actions .dropdown-options button {
  border: solid 1px transparent;
  background-color: #f7f8f9;
}
.chat-list--actions .dropdown-options i {
  padding-top: 8px;
  color: #333;
}
.chat-list--actions .dropdown-options ul li a {
  padding: 3px 10px;
  line-height: 30px;
  color: #333;
}

@media only screen and (max-width: 990px) {
  .message-list-container {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
  }
}
@media only screen and (max-width: 768px) {
  .message-list-container {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
  }
}
@media only screen and (max-width: 640px) {
  .message-list-container {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 990px) {
  .chat-description small {
    display: none;
  }
}

.add-btn {
  float: right;
}

.timestamp-container {
  width: fit-content;
  float: right;
  margin-top: 10px;
  padding-left: 0;
  padding-right: 0;
}

.chat-item-name-container {
  display: inline-block;
  width: initial;
  padding-left: 0;
  padding-right: 0;
}
.chat-item-name-container p {
  display: inline-block;
}

.message-container {
  border: solid 1px #f7f8f9;
}
@media only screen and (max-width: 990px) {
  .message-container {
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
  }
}
@media only screen and (max-width: 768px) {
  .message-container {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
  }
}
@media only screen and (max-width: 640px) {
  .message-container {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.message-header {
  width: 100%;
  height: 90px;
  padding-left: 10px;
  font-size: 24px;
  background-color: #f7f8f9;
}
.message-header--title {
  display: inline-block;
  margin-top: 40px;
}
.message-header--info-icon {
  font-size: 18px;
  margin-left: 10px;
  color: #000;
  vertical-align: super;
}
.message-header--info-icon:hover {
  color: #000;
}

.message-content {
  width: 100%;
  height: 420px;
  overflow-x: hidden;
  overflow-y: auto;
}
.message-content .left .avatar {
  float: left;
}
.message-content .right::after {
  display: block;
  clear: both;
  content: "";
}
.message-content .right .message--timestamp {
  float: right;
}
.message-content li {
  padding: 14px 14px 0;
}
.message-content li:last-child {
  padding-bottom: 10px;
}
.message-content li .avatar img {
  width: 40px;
  height: 40px;
}
.message-content .message {
  margin-left: 50px;
}
.message-content .message p {
  width: fit-content;
  padding: 10px;
  border-radius: 4px;
  background-color: #fbf9fa;
}
.message-content .message--timestamp {
  font-size: .6em;
}
.message-content .right .message {
  margin-left: 0;
  margin-right: 0;
}
.message-content .left .message p {
  color: #fff;
  background-color: #F49200;
}

.message-actions {
  width: 100%;
  padding: 15px;
  background-color: #f7f8f9;
}
.message-actions .input-group-addon {
  padding: 0;
  border: none;
}
.message-actions .fa {
  padding: .5rem .75rem;
}
.message-actions--input {
  border: none !important;
  resize: none;
}

.Select-control,
.Select-value,
.Select--multi .Select-value,
.Select--multi .Select-value-icon,
.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus {
  background: transparent;
  border: none !important;
  color: #000;
}

#message-section--to-toggle, .slide-left, .info-section, .info-section.is-visible {
  transition: all 0.2s linear;
}

.slide-left {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.info-section {
  -ms-flex: 0 0 0%;
  flex: 0 0 0%;
  max-width: 0%;
  position: absolute;
  right: 0;
  padding-left: 0;
  padding-right: 0;
  border-bottom: solid 1px #f7f8f9;
  opacity: 0;
}
.info-section.is-visible {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  height: 100%;
  opacity: 1;
}
.info-section .chat-list {
  height: auto;
}
.info-section .chat-list--title {
  margin-top: 20px;
  padding-left: 10px;
  font-weight: 600;
}
.info-section--list {
  display: flex;
}
.info-section--list li {
  width: 100%;
}
.info-section--list .chat-item-name-container {
  margin-top: 8px;
}
.info-section--actions-btn {
  width: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 1px transparent;
  background: transparent;
  color: transparent;
}
.is-visible .info-section--actions-btn {
  width: 100%;
  border: solid 1px #F49200;
  color: #000;
}

.chat-container {
  position: relative;
}

/*# sourceMappingURL=main.css.map */
