.message-container {
  border: $main-border-style $message-header-bg-color;
  @include media-query-max-width(990px) {
    @include flex-and-max-width(70%);
  }

  @include media-query-max-width(768px) {
    @include flex-and-max-width(60%);
  }

  @include media-query-max-width(640px) {
    @include flex-and-max-width(100%);
  }
}

.message-header {
  @include width-and-height(100%, 90px);
  padding-left: 10px;
  font-size: 24px;
  background-color: $message-header-bg-color;

  &--title {
    display: inline-block;
    margin-top: 40px;
  }
  &--info-icon {
    font-size: 18px;
    margin-left: 10px;
    color: $info-icon-color;
    vertical-align: super;
    &:hover {
      color: $info-icon-color;
    }
  }
}

.message-content {
  @include width-and-height(100%, $message-content-height);
  overflow-x: hidden;
  overflow-y: auto;
  .left {
    .avatar {
      float: left;
    }
  }

  .right {
    &::after {
      display: block;
      clear: both;
      content: "";
    }
    .message--timestamp {
      float: right;
    }
  }

  li {
    padding: 14px 14px 0;
    &:last-child {
      padding-bottom: 10px;
    }

    .avatar img {
      @include width-and-height(40px);
    }
  }

  .message {
    margin-left: 50px;
    p {
      width: fit-content;
      padding: 10px;
      border-radius: 4px;
      background-color: $user-message-bg-color;
    }

    &--timestamp {
      font-size: .6em;
    }
  }

  .right {
    .message {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .left {
    .message p {
      color: $other-user-message-text-color;
      background-color: $other-user-message-bg-color;
    }
  }
}

.message-actions {
  width: 100%;
  padding: 15px;
  background-color: $message-header-bg-color;
  .input-group-addon {
    padding: 0;
    border: none;
  }
  
  .fa {
    padding: .5rem .75rem;
  }

  &--input {
    border: none!important;
    resize: none;
  }
}


// React-Select Plugin style overrides
.Select-control,
.Select-value,
.Select--multi .Select-value,
.Select--multi .Select-value-icon,
.Select--multi .Select-value-icon:hover, 
.Select--multi .Select-value-icon:focus {
  background: transparent;
  border: none!important;
  color: $info-icon-color;
}


%transition-all-styles {
  transition: all 0.2s linear;
}

// Sliding 'info' section
#message-section--to-toggle {
  @extend %transition-all-styles;
}

.slide-left {
  @include flex-and-max-width(50%);
  @extend %transition-all-styles;
}

.info-section {
  @include flex-and-max-width(0%);
  @extend %transition-all-styles;
  position: absolute;
  right: 0;
  padding-left: 0;
  padding-right: 0;
  border-bottom: $main-border-style $message-header-bg-color;
  opacity: 0;

  &.is-visible {
    @include flex-and-max-width(25%);
    @extend %transition-all-styles;
    height: 100%;
    opacity: 1;
  }
  
  .chat-list {
    height: auto;
    &--title {
      margin-top: 20px;
      padding-left: 10px;
      font-weight: 600;
    }
  }

  &--list {
    display: flex;
    li {
      width: 100%;
    }

    .chat-item-name-container {
      margin-top: 8px;
    }
  }

  &--actions-btn {
    width: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border: $main-border-style transparent;
    background: transparent;
    color: transparent;
    .is-visible & {
      width: 100%;
      border: $main-border-style $other-user-message-bg-color;
      color: $info-icon-color;
    }
  }
}
