@mixin width-and-height ($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin media-query-max-width($screen-width) {
  @media only screen and (max-width: $screen-width) {
    @content;
  }
}

@mixin media-query-min-width($screen-width) {
  @media only screen and (min-width: $screen-width) {
    @content;
  }
}

@mixin flex-and-max-width($width) {
  -ms-flex: 0 0 $width;
  flex: 0 0 $width;
  max-width: $width;
}
