$message-header-bg-color        : #f7f8f9;
$user-message-bg-color          : #fbf9fa;
$other-user-message-bg-color    : #F49200;
$other-user-message-text-color  : #fff;
$info-icon-color                : #000;
$message-content-height         : 420px;
$main-border-style              : solid 1px;