%one-hundred-width {
  width: 100%;
}

.sidebar-row {
  height: 100%;
  border-bottom: $main-border-style $main-border-color;
}

.chat-list {
  @extend %one-hundred-width;
  height: $chat-list-height;
  overflow-x: hidden;
  overflow-y: auto;
  .avatar {
    @include media-query-max-width(640px) {
      margin-top: -3px;
      margin-left: 10px;
      margin-right: 10px;
    }

    float: left;
    margin-top: 3px;
    img {
      height: 34px;
      width: 34px;
    }
  }
  
  .chat-description {
    margin-left: 50px;
    p {
      display: inline;
      @include media-query-max-width(640px) {
        margin-right: 10px;
        display: block;
        margin-bottom: 0;
      }
    }

    .badge {
      float: right;
    }

    small {
      font-size: 60%;
      float: right;
      @include media-query-max-width(640px) {
        display: initial;
      }
    }
  }

  li {
    @include media-query-max-width(640px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    padding: 6px;
    border: $main-border-style transparent;
    &:hover {
      border-color: $hover-border-color;
      .badge {
        color: $dropdown-link-color;
      }
    }
  }

  ul {
    border-left: $main-border-style $main-border-color;
  }
}

.chat-list--actions {
  @extend %one-hundred-width;

  // Search
  .input-container {
    @extend %one-hundred-width;
    padding: 10px;
    background-color: $main-border-color;
    .search-input {
      border: none;
      border-radius: 4px;
      background-color: $input-bg-color;
    }
  }

  // Dropdowns
  .dropdown-options {
    @extend %one-hundred-width;
    display: inline-flex;
    background-color: $main-border-color;
    .dropdown-toggle {
      margin-top: 5px;
      padding-left: 0;
    }

    .dropdown-menu {
      border-radius: 0;
      background-color: $main-border-color;
    }

    button {
      border: $main-border-style transparent;
      background-color: $main-border-color;
    }

    i {
      padding-top: 8px;
      color: $dropdown-link-color;
    }

    ul li a {
      padding: 3px 10px;
      line-height: 30px;
      color: $dropdown-link-color;
    }
  }
}

.message-list-container {
  @include media-query-max-width(990px) {
    @include flex-and-max-width(30%);
  }

  @include media-query-max-width(768px) {
    @include flex-and-max-width(40%);
  }

  @include media-query-max-width(640px) {
    @include flex-and-max-width(100%);
  }
}

.chat-description {
  small {
    @include media-query-max-width(990px) {
      display: none;
    }
  }
}

.add-btn {
  float: right;
}

.timestamp-container {
  width: fit-content;
  float: right;
  margin-top: 10px;
  padding-left: 0;
  padding-right: 0
}

.chat-item-name-container {
  display: inline-block;
  width: initial;
  padding-left: 0;
  padding-right: 0;

  p {
    display: inline-block;
  }
}
