$main-border-color    : #f7f8f9;
$main-border-style    : solid 1px;
$hover-border-color   : rgba(244, 146, 0, 0.5);
$input-bg-color       : #fff;
$dropdown-link-color  : #333;
$chat-list-height     : 485px;
